:root {
  --font-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --button-background-light: black;
  --button-background-dark: white;
  --button-color-light: white;
  --button-color-dark: black;
}

[data-theme="light"] {
  --font-color: black;
  --background-color: #ffffff;
  --button-background: var(--button-background-light);
  --button-color: var(--button-color-light);
  --svg-color: var(--svg-color-light);
}

[data-theme="dark"] {
  --button-background: var(--button-background-dark);
  --button-color: var(--button-color-dark);
  --svg-color: var(--svg-color-dark);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh;
  overflow: hidden;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

button:hover {
  border-color: white;
}

html, body {
  overflow: hidden;
}

.just-body{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 80vw;
}


